spring:
  application:
    name: hackathon


  profiles:
    group:
      local:
        - local-db

    default: local

  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        globally_quoted_identifiers: true

logging:
  level:
    sql: debug
