
spring:
  application.name: hackathon
  threads.virtual.enabled: true

  profiles:
    default: local
    group:
      local:
        - local-db
        - common-secret
        - init-sample-user

  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        globally_quoted_identifiers: true

  ai:
    anthropic:
      api-key: ${common-secret.claude.api-key}

  servlet.multipart:
    enabled: true
    location: ${common-secret.file.temp-directory}
    file-size-threshold: 0B
    max-file-size: ${common-secret.file.max-size}
    max-request-size: ${common-secret.file.max-size}
    strict-servlet-compliance: true

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info

mdc-key:
  request-id: request-id

logging:
  pattern:
    dateformat: yyyy-MM-dd'T'HH:mm:ss.SSSz,Asia/Seoul
    level: '[RID:%36X{${mdc-key.request-id}}]%5p'

  level:
    sql: debug
