name: Build application

runs:
  using: composite

  steps:
    - name: Change gradlew permission
      shell: bash
      run: chmod +x ./gradlew

    - name: Cache gradle dependencies
      id: cache-gradle
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: ${{ runner.os }}-gradle-

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'

    - name: Build with Gradle
      shell: bash
      run: |
        ./gradlew build -x test
